@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=JetBrains+Mono:wght@100&family=Noto+Sans&display=swap");
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right top, #0081cf, #009bdd, #00b4e2, #00cbdf, #00e0d7, #2fdfc9, #49deba, #5eddab, #4bc897, #38b383, #229e70, #008a5e);
  background-size: 100% 100%;
  display: flex;
}
body menu {
  width: 15vh;
  height: 60vh;
  margin: 10vh 0.5vw 0 3vw;
  padding: 0;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
}
body menu .menu-ul {
  margin: 0;
  padding: 0;
}
body menu .menu-ul .menu-item {
  width: 15vh;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body menu .menu-ul .menu-item p {
  margin: 0;
  font-size: large;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}
body menu .menu-ul .menu-item p img {
  width: 3.8vh;
}
body .central-container {
  width: 32vw;
  height: 86vh;
  margin: 7vh 0vw 7vh 0vw;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 15px 1px 18px -6px rgba(0, 0, 0, 0.1);
}
body .central-container .my-photo {
  height: 45vh;
  width: 32vw;
  background-color: #71c9ff;
  border-radius: 10px 10px 0 0;
}
body .central-container .about-me {
  font-family: "Noto Sans", sans-serif;
}
body .central-container .about-me .my-name {
  text-align: center;
  font-weight: 400;
  font-size: 42px;
  margin-bottom: 0px;
}
body .central-container .about-me .my-career {
  margin-top: 2vh;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: #006c4a;
}
body .central-container .about-me .my-icons {
  margin-top: 2.5vh;
  text-align: center;
}
body .central-container .about-me .my-icons img {
  margin-right: 9px;
  margin-left: 9px;
  height: 3vh;
}
body .central-container .container-footer {
  margin-top: 13vh;
  margin-left: 4.5vw;
  font-family: "Noto Sans", sans-serif;
  font-size: large;
  display: flex;
}
body .central-container .container-footer .footer-last {
  margin-left: auto;
  margin-right: 4.5vw;
}
body main {
  width: 54vw;
  height: 80vh;
  margin: 10vh 1vw 7vh 0vw;
  border-radius: 0px 10px 10px 0;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
body main .about {
  margin: 5vh 2.5vw;
  font-family: "Noto Sans", sans-serif;
  font-size: large;
}
body main .about .about-text {
  display: flex;
}
body main .about .about-text h2 {
  font-size: 32px;
  font-weight: 600;
}
body main .about .about-text .text-about-me {
  width: 50%;
}
body main .about .about-text .text-about-me-right {
  margin-left: auto;
  margin-right: 4vw;
  width: 320px;
}
body main .about .about-text .text-about-me-right section {
  display: flex;
  justify-content: space-between;
}
body main .about .about-text .text-about-me-right .text-about-me-right-left {
  padding: 4px;
  background: #3ebc8c;
  color: white;
  border-radius: 20px;
}/*# sourceMappingURL=styles.css.map */